mixin icon(name)
  svg.icon(fill='inherit')
    use(xlink:href='../images/stack/sprite.svg#' + name)

mixin badge(name)
  svg.badge.p-0.icon-small(fill='inherit')
    use(xlink:href='../images/stack/sprite.svg#' + name)

mixin block(name, avatar, text, time)
  a&attributes(attributes).block.d-flex.align-items-center.mt-3.ps-3.pt-4.pe-5.shadow-sm.text-decoration-none
    img.avatar(src=avatar).w-50p.h-50p.me-4.radius-50
    span.d-flex.flex-column.overflow-hidden.w-100
      span.block-name.d-flex= name
        if time 
          span.block-time= time
      if text
        span.block-text= text

mixin message(avatar, name, text, time)
  img.avatar(src=avatar).w-50p.h-50p.me-3.radius-50
  if name 
    span.d-flex.flex-column.overflow-hidden.bg-gray.p-4.shadow-sm.radius-16
      span.message-name.fw-bold= name 
      span.message-text= text 
      span.message-time= time 
  else 
    span.d-flex.flex-column.overflow-hidden.bg-primary.text-white.p-4.shadow-sm.radius-16
      span.message-text.border-bottom= text 
      span.message-time= time
